/**{outline: 1px solid rgba(255,0,0,0.1) }*/
body{
	text-align: center;
	}
.header{
     width: 100%;
	}
	
img{
	max-width: 100%;
	}
.container{
     width: 500px;
     margin: 0 auto;
	}

.list-menu{
	list-style-type:none;
	margin: 0;
	padding: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	}
.list-menu li{
	display: inline-block;
	border-right: 1px solid black;
	margin: 10px;
	padding-right: 15px;
	}
.list-menu li:last-child{
	
	border-right: none;
	}
a{	
	text-decoration: none;
	color: black;
	}
.separador{
	width: 50px;
	border: 1px solid black;
}


.gran{ 
	width: 100%;
}
h2{
	text-align: left;

	}
.raya{
		width: 40px;
		border: 3px solid black;
		margin: 0;

	}

.li-coders li{
	width: 28%;
	display: inline-block;
	list-style-type: none;
	margin: 10px;
	
}
.li-coders p{
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
}
.gran img{ 
	-webkit-filter: brightness(0.5);	
}
.gran img:hover{ 
	-webkit-filter: brightness(1);	
}



.detail{
     width: 500px;
     margin: 0 auto;
	}
.borde{
     border: 1px solid black;
     margin-top: 5px;
     padding: 15px;
	}

.imgradio{
     border-radius: 50%;
     margin: 10px;
	}
.caja{
     color: white;
     text-align: left;
     padding: 10px;
	}

.html{
	height: 25px;
     width: 80%;
     background: #2E2EFE;
     margin: 15px;
     margin-left: 0;
     color: white;
     text-align: left;
     padding: 10px;
	}
.css{
	height: 25px;
     width: 55%;
     background: #8181F7;
     color: white;
     text-align: left;
     padding: 10px;
	}
.js{
	height: 25px;
     width: 55%;
     background: #CECEF6;
     margin: 15px;
     margin-left: 0;
     color: white;
     text-align: left;
     padding: 10px;
	}
.lista-img{
	list-style-type: none;
}
.list{
	width: 29%;
	display: inline-block;
	margin: 5px;
}